body{
    background-image: url(imagem/espaço.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
}
#perfil{
    padding: 5px;
    border: 5px inset rgba(17, 66, 158, 0.89);
    margin: 3px;
    align-items: center;
    background-color: rgba(25, 44, 126, 0.685);
    min-width: 100px;
    max-width: 200px;
    border-radius: 100%;
    
}
#nome{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border: 2px solid hsla(240, 83%, 35%, 0.600);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.container{
    background-color: rgba(51, 53, 146, 0.600);
    padding: 5px;
    margin-top: 100px;
    margin-left: 40%;
    margin-right: 50%;
    border-radius: 30px;
    min-width: 300px;
    max-width: 300px;
    position:static;
}
.opções{
    padding: 5px;
    margin: 5px;
    display: flex;
}
#projetos{
    border: 1px solid rgba(17, 66, 158, 0.89);
    background-color: rgba(37, 37, 153, 0.76);
    font-size: auto;
    margin: 3px;
    padding: 2px;
}
#contatos{
    border: 1px solid rgba(17, 66, 158, 0.89);
    background-color: rgba(37, 37, 153, 0.76);
    font-size: auto;
    margin: 3px;
    padding: 2px;
}
#sobre{
    border: 1px solid rgba(17, 66, 158, 0.89);
    background-color: rgba(37, 37, 153, 0.76);
    font-size: auto;
    margin: 3px;
    padding: 2px;
}